/* FOOTER */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: var(--footer-background);
    color: var(--footer-text-color);
}

footer a{
    color: var(--footer-link-color);
    text-decoration: none;
    transition: .3s;
}

footer a:hover{
    color: var(--footer-link-color-hover);
}